---
layout: default
icon: "http://i.imgur.com/cqbK361.jpg"
mainpic: "/projectslandscape.jpeg"
---
	<div id = "blog">	

		<ul id="posts">

	  	{% for post in paginate.projects %}
	    	<img id = "postpics" src = {{post.mainpic}} />
	    	<div>	
	    	<li> <h2> {{post.title}}</h2>
	    
	    	{{post.excerpt}}
	    	<br>
	    	<br>
			<a href = "{{post.url}}"> Read More </a>
		<br>
		<br>
		<br>
		<br>
	    	</li>
	    	</div>
	  	{% endfor %}
		</ul>
	</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
