body {
  margin: 0;
  padding: 0;
  background: white;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #005bbb;
    position:fixed;
    width:100%;
    min-width: 1000px;
    z-index: 9999;
	
}

.nav li{
	display: inline;
	font-size: 25px;
	font-family: "Arial";
	font-weight: bold;
}

.nav li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 3%;
}

.nav li a:hover:not(.active) {
    background-color: #4682B4;
}

.nav li a.active {
    color: white;
    background-color: #001933;
}

.mainpic img{
	width:100%;
	height:auto;
	margin:5% 0 0 0;
	max-height: 400px;
}

#top{
  padding: 0% 0% 0% 0%;
  min-width:800px;
  margin: 5% 0% 0% 0%;
  display:inline-block;	
	
}


#topimg{
  display:inline-block;
  margin: 2% 0 0% 0%;
  border-radius:20%;
  background-color: black;
  border: 2px solid black;
  width:auto;
  max-height:250px;
  min-width:200px;
  max-width: 225px;
}

#topcenter{
  vertical-align:top;
  display:inline-block;
  margin: 2% 0% 2% 20%;
  padding: 0% 0% 0% 0%;
  width:50%;
  font-size: 20px;
  font-family:Courier;
  color:black;
  background: white;
}

#topcenter a{
	font-weight: bold;
	text-decoration:underline;
	color:black;
}

#posts{
	list-style-type:none;
}

#posts li a{
	color: blue;
	text-decoration:underline;
}


#topcenter h2{
	font-weight:bold;
	color: #001933;
}

pre {
	border: 2px solid black;
	font-style: times;
	margin: 0 0 0 2%;
}

#postpics{
	width: 90%;
	height: auto;
	max-height: 350px;
}

#blog{
	width: 170%;
	color: black;
	margin: 0 0 0 -25%;
}

#blog a{
	color: blue;
	text-decoration: none;
}

.foot{
    clear: both;
    padding: 0;
    background-color: #005bbb;
    color: white;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    bottom: 0px;
    width: 100%;
}

.foot a{
	font-weight:bold;
	color: white;
	text-decoration: none;
}
