body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
 
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #464646;
}

.nav li{
	display: inline;
	font-size: 25px;
	font-family: "courier";
	font-weight: bold;
}

.nav li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #9A675C;
}

.nav li a.active {
    color: white;
    background-color: #811616;
}
