body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #464646;
    position:fixed;
    width:100%;
    min-width: 1000px;
}

.nav li{
	display: inline;
	font-size: 25px;
	font-family: "courier";
	font-weight: bold;
}

.nav li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #9A675C;
}

.nav li a.active {
    color: white;
    background-color: #811616;
}

#top{
  margin: 10% 20% 0% 5%;
  padding: 0% 0% 0% 0%;
  border: 3px solid black;
  border-radius:15px;
  background:#464646;
  min-width:800px;
  
}

#topleft{
  display:inline-block;
}

#topimg{
  display:inline-block;
  margin: 1% 0 1% 5%;
  border-radius:20%;
  background-color: black;
  border: 2px solid black;
  width:auto;
  max-height:250px;
  min-width:200px;
}

#topcenter{
  vertical-align:top;
  display:inline-block;
  border-radius:10px;
  margin:1% 0% 1% 1%;
  border: 2px solid black;
  padding:1% 5% 1% 5%;
  width:45%;
  font-size: 20px;
  font-family:Courier;
  font-weight:bold;
  color:white;
  background-color: #811616;
}

#posts{
	list-style-type:none;
}

#posts li a{
	color:white;
	text-decoration:underline;
}

#blog h2{
	
	color: orange;
}
