<!DOCTYPE html>
<html>
  <head>
  <link rel = "stylesheet", type = "text/css", href = "/style.css">
  <link href="/prettify.css" type="text/css" rel="stylesheet"/>
  <script type="text/javascript" src="/prettify.js"></script>
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
  </head>

  <body>
      <div class="nav">
        <ul>
          {% assign current = page.url | downcase | split: '/' %}	
	  <img src="http://i.imgur.com/wHanNEi.png"/> 
          <li><a {% if page.url == '/' %}class='active'{% endif %} href="/index.html">About Me </a></li>
          <li><a {% if current[1] == 'projects' %}class='active'{% endif %} href="/projects/index.html">Projects</a></li>
          <li><a {% if current[1] == 'blog' %}class='active'{% endif %} href="/blog/index.html">Blog</a></li>
        </ul>
      </div>
    
    <br />
    
    <div class = "mainpic">
    	<img src = {{page.mainpic}}>
    </div>
    
    <div id = "top">
      <div id = "topcenter">
	{{content}}
      </div>
    </div>
  </body>
</html>
