<!DOCTYPE html>
<html>
  <head>
  <link rel = "stylesheet", type = "text/css", href = "http://matsarj.github.io/style.css">
  </head>

  <body>
      <div class="nav">
        <ul>
	        <img src="http://i.imgur.com/wHanNEi.png"/> 
          <li><a class = "active" href="http://matsarj.github.io/index.html">About Me </a></li>
          <li><a href="http://matsarj.github.io/projects.html">Projects</a></li>
          <li><a href="http://sartwell.wordpress.com">Blog</a></li>
          <li><a href="http://matsarj.github.io/contact.html">Contact</a></li>
        </ul>
      </div>
    
    <br />
    
    <div id = "top">
      <div id = "topleft">
        <img id = "topimg" src = {{page.icon}}>
      </div>
      <div id = "topcenter">
	{{content}}
      </div>
    </div>
  </body>
</html>
